p{
    font-size: 35px
}

div{
    display: inline-block;
    width: 100px;
    height: 100px;
}

.azul{
    border: solid 4px blue;
    backgound-color: lightblue;
}

.amarelo{
    border: solid 4px red;
    background-color: yellow;
    position: relative;
    top: 40px;
    left: 40px;
}